<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Happy Hikers is a meetup group for people who love to hike." />
    <meta name="keywords" content="san francisco, hiking, meetup, bay area, outdoors" />

    <title>Happy Hikers - Newsletter Sign-Up</title>

    <script defer src="/scripts/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h2>we're gonna have fun hiking</h2>
  </body>
</html>
