* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: lavender;
}
footer {
  display: flex;
  justify-content: space-between;
}
footer div {
  display: inline-block;
}
